---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% if post.tag == "tech" %}
      <span class="post-tag"><span class="tag-tech"><a href="{{ site.baseurl }}/tags/tech">Tech · 技术</a></span></span>
    {% endif %}
    {% if post.tag == "life" %}
      <span class="post-tag"><span class="tag-life"><a href="{{ site.baseurl }}/tags/life">Life · 生活</a></span></span>
    {% endif %}
    {% if post.tag == "music" %}
      <span class="post-tag"><span class="tag-music"><a href="{{ site.baseurl }}/tags/music">Music · 音乐</a></span></span>
    {% endif %}
    {% if post.tag == "design" %}
      <span class="post-tag"><span class="tag-design"><a href="{{ site.baseurl }}/tags/design">Design · 设计</a></span></span>
    {% endif %}
    {% if post.tag == "reading" %}
      <span class="post-tag"><span class="tag-reading"><a href="{{ site.baseurl }}/tags/reading">Reading · 读书</a></span></span>
    {% endif %}
    {% if post.tag == "movie" %}
      <span class="post-tag"><span class="tag-movie"><a href="{{ site.baseurl }}/tags/movie">Movie · 电影</a></span></span>
    {% endif %}
    {% if post.tag == "misc" %}
      <span class="post-tag"><span class="tag-misc"><a href="{{ site.baseurl }}/tags/misc">Misc · 杂</a></span></span>
    {% endif %}

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    <a href="{{ post.url }}">
      More...
    </a>
    <div>
      <br/>
      <br/>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
