---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% if post.tag == "Tech · 技术" %}
      <span class="post-tag"><span class="tag-tech"><a href="{{ site.baseurl }}/tags/tech">{{ post.tag }}</a></span></span>
    {% endif %}
    {% if post.tag == "Life · 生活" %}
      <span class="post-tag"><span class="tag-life"><a href="{{ site.baseurl }}/tags/life">{{ post.tag }}</a></span></span>
    {% endif %}
    {% if post.tag == "Music · 音乐" %}
      <span class="post-tag"><span class="tag-music"><a href="{{ site.baseurl }}/tags/music">{{ post.tag }}</a></span></span>
    {% endif %}
    {% if post.tag == "Design · 设计" %}
      <span class="post-tag"><span class="tag-design"><a href="{{ site.baseurl }}/tags/design">{{ post.tag }}</a></span></span>
    {% endif %}
    {% if post.tag == "Reading · 读书" %}
      <span class="post-tag"><span class="tag-reading"><a href="{{ site.baseurl }}/tags/reading">{{ post.tag }}</a></span></span>
    {% endif %}
    {% if post.tag == "Movie · 电影" %}
      <span class="post-tag"><span class="tag-movie"><a href="{{ site.baseurl }}/tags/movie">{{ post.tag }}</a></span></span>
    {% endif %}
    {% if post.tag == "Misc · 杂" %}
      <span class="post-tag"><span class="tag-misc"><a href="{{ site.baseurl }}/tags/misc">{{ post.tag }}</a></span></span>
    {% endif %}

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    <a href="{{ post.url }}">
      More...
    </a>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
