---
layout: default
comments: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.tag == "tech" %}
    <span class="post-tag"><span class="tag-tech"><a href="{{ site.baseurl }}/tags/tech">Tech · 技术</a></span></span>
  {% endif %}
  {% if page.tag == "life" %}
    <span class="post-tag"><span class="tag-life"><a href="{{ site.baseurl }}/tags/life">Life · 生活</a></span></span>
  {% endif %}
  {% if page.tag == "music" %}
    <span class="post-tag"><span class="tag-music"><a href="{{ site.baseurl }}/tags/music">Music · 音乐</a></span></span>
  {% endif %}
  {% if page.tag == "design" %}
    <span class="post-tag"><span class="tag-design"><a href="{{ site.baseurl }}/tags/design">Design · 设计</a></span></span>
  {% endif %}
  {% if page.tag == "reading" %}
    <span class="post-tag"><span class="tag-reading"><a href="{{ site.baseurl }}/tags/reading">Reading · 读书</a></span></span>
  {% endif %}
  {% if page.tag == "movie" %}
    <span class="post-tag"><span class="tag-movie"><a href="{{ site.baseurl }}/tags/movie">Movie · 电影</a></span></span>
  {% endif %}
  {% if page.tag == "misc" %}
    <span class="post-tag"><span class="tag-misc"><a href="{{ site.baseurl }}/tags/misc">Misc · 杂</a></span></span>
  {% endif %}
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

<div class="related">
  <h3 style="font-size:90%">Latest Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//xiaohuang.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
